<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/emailTemplate.css">
</head>
<body>
    <div class="container">
        <div class="header">
           <!-- <img src="https://img.freepik.com/premium-vector/black-background-with-words-it-s-easy-written-white_663497-2403.jpg" alt=""> -->
            <h1>Hi {{applicantName}}!</h1>
        </div>
        <div class="content">
            <p>Your job application for <span class="company-name">{{companyName}}</span> has been received and will be forwarded to the company. We will keep you posted about your candidature.</p>
            <p>Meanwhile, test your preparation level and problem-solving skills under pressure by practicing as much as possible.</p>
            <p>Please feel free to reach us for any further queries.</p>
            <p>Best Regards,</p>
            <p><span class="company-name">{{companyName}}</span></p>
        </div>
        <div class="footer">
            <p>Team Easily</p>
        </div>
    </div>
</body>
</html>
