<div class="row mb-5">
    <div class="col-12 col-md-6">
        <img src="images/men1.avif" class="img-fluid" alt="">
    </div>
    <div class="col-12 col-md-6">
        <h1 class="mb-5">
            <i class="bi bi-check2-circle"></i> "Where Talent Meets <br> Opportunity"
        </h1>
        <p class="mb-5">Welcome to easily, where we redefine the way you navigate your
            career path. Our
            state-of-the-art platform is designed to seamlessly connect you with a diverse array of
            opportunities, each one carefully curated to align with your unique skills and aspirations. Whether
            you're a seasoned professional or just embarking on your journey, we're dedicated to providing you
            with the tools and support you need to thrive. Explore boundless potential and take a decisive step
            towards your dream career with us.
        </p>
        
        <div class="row">
            <div class="col-12 col-md-5 mb-5">
                <a href="/jobs" class="my-btn ">I'm A Job Seeker</a>
            </div>
            <div class="col-12 col-md-5 mb-5 ">
                <a href="/create-job" class="my-btn">I'm A Recruiter</a>
            </div>
        </div>
    </div>
</div>