<div class="container my-message-pagee">

    <img src="/images/hand-shake.jpg" class="img-fluid my-hand-shake-img" alt="Hand Shake Image">
    <h1 class="mb-5 mt-5"><i class="bi bi-check2-circle"></i> Application Sent To <%=applicantObj.companyName%>
    </h1>
    <p>Congratulations <%=applicantObj.applicantName%> your application has been successfully submitted to
            <%=applicantObj.companyName%>
    </p>
    <br>
    <p>You will shortly get the confirmation mail on <%=applicantObj.applicantEmail%>
    </p>

</div>